<p id="notice"><%= notice %></p>

<p>
  <strong>Body text:</strong>
  <%= @welcome.body_text %>
</p>

<p>
  <strong>Header text:</strong>
  <%= @welcome.header_text %>
</p>

<%= link_to 'Edit', edit_welcome_path(@welcome) %> |
<%= link_to 'Back', welcomes_path %>
